<h1>Recuperación de Contraseña</h1>

<h2>Administración Encuentro de Música Chilena Contemporánea</h2>

<p>Para crear una nueva contraseña, haga clic en el siguiente enlace:</p>

<%= link_to 'Crear nueva contraseña', edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>El período de validez del enlace es de dos horas.</p>

<p>
  Si usted no inició el proceso de recuperación de contraseña, ignore este correo.
</p>
